<header class="header">
    <div class="logo-account">
      <span class="site-name"><a href="/" title="Return to home page">CSE Motors</a></span>
      <a title="click to log in" href="/account/login" class="account-link ">My account</a>
    </div>
</header>